* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  overflow-x: hidden;
}

:root {
  --light-gray: rgb(175, 173, 173);
  --dark-gray: rgb(129, 129, 129);
  --lighter-gray: rgb(207, 205, 205);
  --darker-gray: rgb(53, 52, 52);
  --light-darker-gray: rgb(90, 90, 90);
  --lightest-gray: rgb(224, 218, 218);
  --darkest-gray: rgb(107, 105, 105);
}

.main-header {
  width: 1400px;
  height: 80px;
  background: var(--light-gray);
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 6px;
}

.main-header * {
  border-radius: 5px;
}

.main-header *:not(:last-child) {
  cursor: pointer;
}

.hide {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.logo {
  width: 145px;
  height: 3.5em;
  background: var(--dark-gray);
  margin-left: 10px;
}

.main-header ul {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.main-header ul li {
  padding: 14.4px 15.4px;
  background-color: var(--lighter-gray);
  width: 13%;
  list-style: none;
}

.main-header li:not(:last-of-type) {
  margin-right: 10px;
}

.nav-btn {
  padding: 0.35em 0.5rem 0.35em 1rem;
  height: 40px;
  width: 7%;
  background-color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  outline: none;
}

.nav-btn:hover {
  background-color: var(--darker-gray);
}

.main-header input {
  width: 24%;
  margin-right: 100px;
  height: 50px;
  background-color: var(--lightest-gray);
  border: 1px solid var(--lightest-gray);
  outline: none;
}

.main-article {
  width: 1400px;
  height: 1000px;
  background-color: var(--dark-gray);
  position: relative;
}

.heading-main {
  background-color: var(--lightest-gray);
  height: 8%;
  width: 30%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-main-bottom {
  background-color: var(--lightest-gray);
  height: 5%;
  width: 10%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 70px 66px black;
}

.articles {
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  display: flex;
  flex-wrap: wrap;
}

.articles article {
  width: 50%;
  height: 50%;
}

.about-article {
  padding-left: 50px;
}

.useful-tools {
  background-color: var(--dark-gray);
}

.face-motion {
  background-color: var(--light-darker-gray);
}

.typescript-generics {
  background-color: var(--darker-gray);
}

.google-analytics {
  background-color: var(--dark-gray);
}

.article-info {
  margin: 220px 70px 30px 30px;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-img {
  width: 70px;
  height: 70px;
  background-color: var(--lighter-gray);
  border-radius: 5px;
  transform: rotate(-19deg);
  transition: all 0.2s;
  cursor: pointer;
}

.article-img:hover {
  transform: rotate(0deg);
}

.article-author {
  width: 120px;
  height: 25px;
  background-color: var(--light-gray);
}

.content {
  height: 40px;
  width: 70%;
  margin-left: 30px;
  background-color: var(--light-gray);
  /* background-color: var(--darker-gray); */
}

.content:last-of-type {
  width: 50%;
  height: 25px;
  margin-top: 10px;
}

.arrow {
  width: 40px;
  height: 8px;
  background-color: var(--lighter-gray);
  margin-top: 72px;
}

.membership {
  height: 400px;
  width: 1400px;
  background-color: var(--darkest-gray);
  padding: 29px 121px;
  display: flex;
  justify-content: space-between;
}

.membership-content {
  margin-top: 40px;
  width: 60%;
}

.membership-content p,
.membership-content li {
  height: 8px;
  width: 60%;
  margin-bottom: 14px;
  background-color: var(--light-gray);
}

.membership-content ul {
  margin-top: 64px;
}

.membership-icon {
  width: 20%;
  height: 270px;
  transform: rotate(-19deg);
  margin-top: -85px;
  background-color: var(--darker-gray);
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 140px;
}

.membership-icon:hover {
  transform: rotate(0deg);
}

.membership-btn {
  width: 60%;
  height: 62px;
  background-color: var(--darker-gray);
  outline: none;
  border: 1px solid var(--darker-gray);
  margin-top: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.latest-post {
  width: 1400px;
  background-color: var(--dark-gray);
}

.latest-post-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--light-gray);
  transition: all 0.2s ease-out;
}

.latest-post-articles > * {
  height: 460px;
  padding: 30px;
}

.latest-post-articles > *:hover {
  transform: scale(1.02);
  background-color: var(--lightest-gray);
}

.latest-post-articles h2 {
  height: 100px;
  background-color: var(--darker-gray);
  width: 300px;
  margin-bottom: 10px;
}

.latest-post-articles p {
  height: 16px;
  background-color: var(--dark-gray);
  margin-bottom: 10px;
}

.latest-post-articles p:last-of-type {
  height: 70px;
}

.read-more {
  margin-top: 117px;
  height: 105px;
  width: 105px;
  margin-left: -30px;
}

.latest-post-articles > *:hover > .read-more {
  background-color: var(--dark-gray);
}

.member-sign-up {
  display: flex;
}

.explore-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 650px;
  background-color: var(--dark-gray);
  width: 70%;
}

.adds {
  height: 650px;
  background-color: var(--lighter-gray);
  width: 30%;
}

.explore-features-icon {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-color: var(--light-gray);
  cursor: pointer;
}

.features-link {
  border-radius: 5px;
  width: 70%;
  height: 30px;
  background-color: var(--darker-gray);
}

.explore-features p {
  width: 70%;
  height: 40px;
  background-color: var(--darker-gray);
  margin-bottom: 20px;
  border-radius: 5px;
}

.member-sign-up-btn {
  width: 20%;
  height: 60px;
  background-color: var(--darker-gray);
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid var(--darker-gray);
  cursor: pointer;
}

.account {
  width: 20%;
  height: 25px;
  background-color: var(--darker-gray);
}

.books {
  width: 1400px;
  height: 900px;
  background-color: var(--light-darker-gray);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  width: 25%;
  height: 44px;
  background-color: var(--lightest-gray);
  margin-bottom: 20px;
}

.books-heading {
  width: 55%;
  height: 70px;
  background-color: var(--darker-gray);
  margin-bottom: 20px;
}

.books-info {
  width: 55%;
  height: 24px;
  background-color: var(--dark-gray);
}

.books-btn {
  width: 22%;
  height: 64px;
  background-color: var(--darker-gray);
  margin-bottom: 35px;
  border-radius: 11px;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--darker-gray);
}

.books-icon {
  width: 300px;
  height: 300px;
  background-color: var(--light-gray);
  border-radius: 50%;
  margin-top: 20px;
}

.comunity-links {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 1368px;
  background-color: var(--lighter-gray);
  height: 900px;
  padding-top: 40px;
  gap: 1em;
  padding-bottom: 180px;
}

.person-of-the-week {
  background-color: var(--lighter-gray);
  grid-column: span 2;
  display: grid;
  grid-template-columns: 290px 0.9fr;
  margin-bottom: 70px;
}

.image {
  height: 200px;
  background-color: var(--light-darker-gray);
  margin-right: 36px;
  margin-left: 55px;
  transform: rotate(-19deg);
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.image:hover {
  transform: rotate(0deg);
}

.text {
  height: 100%;
  background-color: transparent;
  margin-right: 20px;
}

.text * {
  border-radius: 5px;
}

.text-heading {
  height: 8px;
  width: 10%;
  background-color: var(--light-gray);
  margin-bottom: 20px;
}

.paragraph {
  height: 80%;
  width: 100%;
  background-color: var(--light-gray);
}

.com-links-articles {
  background-color: transparent;
  display: flex;
  padding-top: 10px;
  padding-left: 18px;
}

.person-img {
  flex-basis: 60px;
  height: 60px;
  background-color: var(--light-darker-gray);
  border-radius: 6px;
  transform: rotate(-19deg);
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 30px;
}

.person-img:hover {
  transform: rotate(0deg);
}

.person-text {
  width: 80%;
}

.person-text * {
  border-radius: 5px;
}

.person-link {
  height: 8px;
  width: 14%;
  background-color: var(--light-gray);
}

.person-text-name {
  margin-top: 11px;
  height: 12px;
  width: 100%;
  background-color: var(--light-gray);
}

.person-text p {
  margin-top: 20px;
  height: 60%;
  width: 100%;
  background-color: var(--light-gray);
}

.feature-panel {
  width: 1400px;
  height: 350px;
  display: flex;
  background-color: var(--light-darker-gray);
}

.design-system {
  width: 75%;
  margin-left: 40px;
}

.design-system * {
  border-radius: 5px;
}

.sys-heading {
  height: 12px;
  width: 230px;
  background-color: var(--dark-gray);
  margin-bottom: 40px;
  margin-top: 30px;
}

.system-link {
  height: 40px;
  width: 270px;
  background-color: var(--dark-gray);
  cursor: pointer;
  margin-bottom: 40px;
  cursor: pointer;
}

.system-para {
  height: 50px;
  width: 80%;
  background-color: var(--lighter-gray);
  margin-bottom: 35px;
}

.system-btn {
  height: 50px;
  width: 320px;
  background-color: var(--light-gray);
  cursor: pointer;
  margin-top: 15px;
  outline: none;
  border: 1px solid var(--light-gray);
}

.design-system-icon {
  width: 15%;
  background-color: var(--darkest-gray);
  transform: rotate(-19deg);
  transition: all 0.3s;
  height: 90%;
  margin-top: -80px;
  margin-left: -60px;
}

.design-system-icon:hover {
  transform: rotate(0deg);
}

/* --light-gray: rgb(175, 173, 173);
  --dark-gray: rgb(129, 129, 129); */

.our-guides {
  width: 1400px;
  background-color: var(--dark-gray);
  padding-bottom: 87px;
}

.smash-guide-1 {
  height: 450px;
  margin-bottom: 10px;
}

.smash-guide-1,
.smash-guide-2 {
  display: flex;
  width: 100%;
  padding: 20px 40px 20px 20px;
}

.js-framework,
.performance {
  margin-right: 20px;
}

.js-framework,
.css-layout,
.newsletter,
.performance {
  background-color: var(--light-gray);
  width: 45%;
}

.smash-guide-2 {
  height: 850px;
}

.smash-guide-1st,
.performance {
  padding: 20px 20px 10px 35px;
}

.smash-guide-1st *:first-child,
.performance *:first-child {
  height: 8px;
  width: 25%;
  background-color: var(--lighter-gray);
  margin-bottom: 20px;
}

.smash-guide-1st *:nth-child(2),
.performance *:nth-child(2) {
  height: 16px;
  width: 35%;
  background-color: var(--darker-gray);
  cursor: pointer;
}

.smash-guide-1st *:nth-child(3),
.performance *:nth-child(3) {
  height: 150px;
  width: 82%;
  background-color: var(--lighter-gray);
  margin-bottom: 20px;
  margin-top: 20px;
}

.smash-guide-1st *:nth-child(4),
.performance *:nth-child(4) {
  height: 55px;
  width: 70%;
  background-color: var(--darker-gray);
  cursor: pointer;
  outline: none;
  border: 1px solid var(--darker-gray);
}

.smash-guide-1st *,
.performance *,
.newsletter {
  border-radius: 6px;
}

.newsletter {
  display: grid;
  background-color: var(--darker-gray);
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter-icon {
  width: 300px;
  height: 300px;
  background-color: var(--lighter-gray);
  border-radius: 50%;
  margin-top: 30px;
  margin: 0 auto;
}

.newsletter > *:nth-child(2) {
  height: 30px;
  width: 72%;
  background-color: var(--light-gray);
  cursor: pointer;
  margin-left: 45px;
}

.newsletter > *:nth-child(3) {
  height: 130px;
  width: 82%;
  background-color: var(--lighter-gray);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 45px;
}

.newsletter > *:last-child {
  width: 50%;
  margin: 0 auto;
  height: 58px;
  background-color: var(--dark-gray);
  border-radius: 6px;
}

.news-input {
  margin-left: 45px;
  display: flex;
  height: 50px;
  width: 82%;
}

.news-input > *:first-child {
  background-color: var(--lightest-gray);
  width: 80%;
}

.news-input > *:nth-child(2) {
  background-color: var(--light-gray);
  width: 20%;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  background-color: var(--darker-gray);
  height: 600px;
}

.footer > *:first-child {
  width: 15%;
  height: 30px;
  background-color: var(--lighter-gray);
  margin-top: 40px;
  margin-bottom: 30px;
}

.foot-ul-1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  height: 180px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.foot-ul-1 > * {
  border-radius: 5px;
  width: 40px;
  height: 15px;
  background-color: var(--lighter-gray);
  margin-left: 20px;
}

.foot-ul-1 > *:hover {
  background-color: var(--darkest-gray);
  cursor: pointer;
}

.after-ul {
  border-radius: 5px;
  margin-top: 20px;
  width: 30%;
  height: 60px;
  background-color: var(--light-darker-gray);
  margin-bottom: 15px;
}

.footer-links {
  height: 61px;
  justify-content: center;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-links > * {
  border-radius: 5px;
  background-color: var(--lighter-gray);
  width: 40px;
  height: 15px;
  margin-left: 30px;
  cursor: pointer;
}
